* {
    box-sizing: border-box;
}

body {
    color: #2c3e50;
    font-size: '120%';
    font-family: 'Lora', serif;
}

#header-nav {
    border-radius: 0;
}

#nav-list > li {
    text-align: center;
}

.navbar-brand h1 {
    font-size: 1.6em;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    line-height: .75;
    font-family: 'Oxygen', sans-serif;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
}

#chicken{
    background-color: #F9A825;
}

#beef {
    background-color: #D84315;
    color: #fafafa;
}

#sushi {
    background-color: #ef9a9a;
}

